body {
  background-color: rgb(216, 141, 178) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #94c777;
  color: rgb(176, 223, 146);
}

/* HEADER */

.header {
  height: 80px;

  background-color: #0f172a;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;

  border-bottom: 1px solid #1e293b;

  position: sticky;
  top: 0;

  z-index: 100;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.cart-link {
  text-decoration: none;
  color: white;

  font-size: 18px;
}

.badge {
  background-color: #ef4444;

  padding: 5px 10px;

  border-radius: 999px;

  margin-left: 8px;
}

/* LAYOUT */

.main-container {
  display: flex;
}

/* SIDEBAR */

.sidebar {
  width: 260px;
  min-height: calc(100vh - 80px);

  background-color: #1e293b;

  padding: 30px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.categories button {
  background-color: #334155;

  color: white;

  border: none;

  padding: 12px;

  border-radius: 12px;

  cursor: pointer;

  transition: 0.3s;

  font-size: 15px;
}

.categories button:hover {
  background-color: #3b82f6;
}

/* CONTENT */

.content {
  flex: 1;

  padding: 40px;
}

.search {
  width: 100%;

  padding: 14px;

  border-radius: 14px;

  border: none;

  margin-bottom: 30px;

  background-color: #1e293b;

  color: white;

  font-size: 16px;
}

.search::placeholder {
  color: #94a3b8;
}

/* GRID */

.grid {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

  gap: 25px;
}

/* CARD */

.card {
  background-color: #1e293b;

  border-radius: 18px;

  overflow: hidden;

  transition: 0.3s;

  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.card:hover {
  transform: translateY(-6px);
}

.card-img {
  width: 100%;
  height: 220px;

  object-fit: cover;
  object-position: center;

  display: block;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;

  margin-bottom: 10px;
}

.card-description {
  color: #cbd5e1;

  margin-bottom: 20px;

  min-height: 50px;
}

.price {
  font-size: 28px;

  font-weight: bold;

  margin-bottom: 20px;
}

.add-btn {
  width: 100%;

  padding: 14px;

  border: none;

  border-radius: 14px;

  background-color: #3b82f6;

  color: white;

  font-size: 16px;

  cursor: pointer;

  transition: 0.3s;
}

.add-btn:hover {
  background-color: #2563eb;
}

.success-msg {
  color: #4ade80;

  margin-top: 12px;

  text-align: center;
}

/* CART */

.cart-container {
  max-width: 900px;

  margin: 40px auto;

  background-color: #1e293b;

  padding: 30px;

  border-radius: 20px;
}

.cart-item {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 25px 0;

  border-bottom: 1px solid #334155;
}

.cart-actions {
  display: flex;

  align-items: center;

  gap: 12px;
}

.cart-actions button {
  border: none;

  padding: 10px 14px;

  border-radius: 10px;

  cursor: pointer;

  font-weight: bold;
}

.total {
  margin-top: 30px;

  text-align: right;

  font-size: 34px;

  font-weight: bold;
}

.clear-btn {
  margin-top: 30px;

  width: 100%;

  padding: 14px;

  border: none;

  border-radius: 14px;

  background-color: #ef4444;

  color: white;

  font-size: 16px;

  cursor: pointer;
}

/* LOGIN */

.login-body {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #0f172a,
    #111827,
    #1e293b
  );
}

.login-container {
  width: 400px;

  background-color: rgba(30, 41, 59, 0.9);

  padding: 40px;

  border-radius: 24px;

  box-shadow: 0 15px 35px rgba(0,0,0,0.4);

  backdrop-filter: blur(10px);
}

.login-title {
  font-size: 42px;

  text-align: center;

  margin-bottom: 10px;
}

.login-subtitle {
  text-align: center;

  color: #cbd5e1;

  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;

  gap: 18px;
}

.login-form input {
  padding: 16px;

  border: none;

  border-radius: 14px;

  background-color: #334155;

  color: white;

  font-size: 16px;
}

.login-form input::placeholder {
  color: #94a3b8;
}

.login-form button {
  padding: 16px;

  border: none;

  border-radius: 14px;

  background-color: #3b82f6;

  color: white;

  font-size: 16px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.login-form button:hover {
  background-color: #2563eb;
}

.demo-users {
  margin-top: 30px;

  background-color: #0f172a;

  padding: 18px;

  border-radius: 14px;

  font-size: 14px;

  color: #cbd5e1;
}

.demo-users p {
  margin-bottom: 10px;
}

/* ADMIN */

.admin-container {
  padding: 50px;
}

.admin-title {
  font-size: 42px;

  margin-bottom: 40px;
}

.stats-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  gap: 25px;

  margin-bottom: 40px;
}

.stat-card {
  background-color: #1e293b;

  padding: 35px;

  border-radius: 20px;

  text-align: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.stat-card h2 {
  font-size: 48px;

  margin-bottom: 10px;

  color: #3b82f6;
}

.stat-card p {
  color: #cbd5e1;

  font-size: 18px;
}

.go-store-btn {
  display: inline-block;

  padding: 16px 28px;

  background-color: #3b82f6;

  color: white;

  text-decoration: none;

  border-radius: 14px;

  font-weight: bold;

  transition: 0.3s;
}
.go-store-btn:hover {
  background-color: #2563eb;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.back-login-btn {
  display: inline-block;

  padding: 10px 18px;

  background-color: #334155;

  color: white;

  text-decoration: none;

  border-radius: 12px;

  transition: 0.3s;

  font-size: 14px;
}

.back-login-btn:hover {
  background-color: #475569;
}
.availability-badge {
  display: inline-block;
  background-color: #22c55e;
  color: white;
  padding: 6px 10px;
  border-radius: 999px;
  font-size: 12px;
  margin-bottom: 12px;
}
.product-detail-container {
  margin-top: 30px;
}

.detail-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  background-color: #1e293b;
  padding: 30px;
  border-radius: 24px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.detail-img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 20px;
}

.detail-info {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.detail-info h2 {
  font-size: 40px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 16px;
}

.quantity-control button {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 12px;
  background-color: #334155;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.quantity-control span {
  font-size: 22px;
  font-weight: bold;
}

.add-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.cart-img {
  width: 120px;
  height: 100px;
  object-fit: cover;
  border-radius: 14px;
}

.cart-summary {
  margin-top: 30px;
  padding: 20px;
  background-color: #0f172a;
  border-radius: 16px;
}

.cart-summary p {
  font-size: 18px;
  margin-bottom: 10px;
}

.checkout-box {
  margin-top: 30px;
  padding: 25px;
  background-color: #0f172a;
  border-radius: 16px;
}

.checkout-box h2 {
  margin-bottom: 20px;
}

.checkout-box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-box input,
.checkout-box select {
  padding: 14px;
  border: none;
  border-radius: 12px;
  background-color: #334155;
  color: white;
  font-size: 16px;
}

.checkout-box input::placeholder {
  color: #94a3b8;
}

.empty-cart {
  text-align: center;
  padding: 40px;
}

.order-card {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 18px;
  margin-bottom: 20px;
  border: 1px solid rgba(255,255,255,.08);
}

.order-card h3 {
  margin-bottom: 10px;
}

.order-badge {
  display: inline-block;
  margin-top: 12px;
  padding: 8px 14px;
  border-radius: 999px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.badge-pendiente {
  background-color: orange;
}

.badge-preparacion {
  background-color: #3b82f6;
}

.badge-entregado {
  background-color: #22c55e;
}

.badge-cancelado {
  background-color: #ef4444;
}

.empty-orders {
  text-align: center;
  padding: 40px;
}
.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-table th,
.admin-table td {
  padding: 14px;
  border-bottom: 1px solid #334155;
  text-align: left;
}

.edit-btn,
.delete-btn {
  padding: 8px 14px;
  margin-right: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.edit-btn {
  background-color: #3b82f6;
  color: white;
}

.delete-btn {
  background-color: #ef4444;
  color: white;
}

.admin-form-box {
  background-color: #1e293b;
  padding: 24px;
  border-radius: 18px;
  margin-bottom: 30px;
}

.admin-form-box h2 {
  margin-bottom: 20px;
}

.admin-form-box form {
  display: grid;
  grid-template-columns: 1fr 2fr auto auto;
  gap: 12px;
  align-items: center;
}

.admin-form-box input {
  padding: 14px;
  border: none;
  border-radius: 12px;
  background-color: #334155;
  color: white;
}

.admin-form-box input::placeholder {
  color: #94a3b8;
}
.admin-thumb {
  width: 70px;
  height: 55px;
  object-fit: cover;
  border-radius: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.order-actions {
  margin-top: 15px;
}

.status-select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #334155;
  color: white;
}